################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Multithreading/bin/Debug/Glass (1080p HD).m4v
/Multithreading/bin/Debug/Glass (1080p HD).m4v.gz

Multithreading/bin/Debug/film\.mkv\.gz

Multithreading/bin/Debug/film\.mkv

Multithreading/bin/Debug/ReShade_Setup_4\.2\.1\.exe

Multithreading/bin/Debug/ReShade_Setup_4\.2\.1\.exe\.gz

\.vs/

Multithreading/bin/Release/film\.mkv

Multithreading/bin/Release/film\.mkv\.gz

Multithreading/bin/Release/ReShade_Setup_4\.2\.1\.exe

Multithreading/bin/Release/ReShade_Setup_4\.2\.1\.exe\.gz

Multithreading/bin/Release/Multithreading\.pdb

Multithreading/bin/

Multithreading/obj/
