################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Multithreading/bin/Debug/Glass (1080p HD).m4v
/Multithreading/bin/Debug/Glass (1080p HD).m4v.gz
